---
import LinkButton from "./LinkButton.astro"
import Link from "../components/Icons/Link.astro"

const PROJECTS = [
    {
    title: "Sistema financiero argentino - Análisis econométrico",
    description:
      "Estudia la rentabilidad bancaria y los factores que inciden en el ROA mediante modelos econométricos estáticos y dinámicos aplicados al sistema financiero nacional.",
    link: "https://github.com/CreamBBQ/Analisis-financiero/blob/master/An%C3%A1lisis%20del%20sistema%20financiero%20argentino.pdf",
    image: "/projects/Bancos.webp",
  },
  {
    title: "EcoBici - Análisis del sistema de bicicletas públicas de Buenos Aires",
    description:
      "Explora las características del servicio, su distribución por comuna y la relación entre estaciones de EcoBici y líneas de subte para comprender algunos de los patrones de movilidad en la ciudad. Desarrollado con R.",
    link: "https://github.com/CreamBBQ/EcoBici-2021/blob/master/main.ipynb",
    image: "/projects/EcoBici.webp",
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link }) => (
      <article class="flex flex-col space-y-8 md:flex-row md:space-x-8 md:space-y-0 group">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center overflow-hidden rounded-xl shadow-xl transition duration-500 ease-in-out transform md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              src={image}
              alt={title}
              loading="lazy"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>

          <p class="mt-2 text-gray-700 dark:text-gray-400">
            {description}
          </p>

          {link && (
            <footer class="flex items-end justify-start mt-4">
              <LinkButton href={link}>
                <Link class="size-4" />
                Leer
              </LinkButton>
            </footer>
          )}
        </div>
      </article>
    ))
  }
</div>